In [137]:
import pandas as pd
import math

In [113]:
hc = pd.read_csv('HC.txt', sep=' ', index_col=['G', 'N', 'M'])
ps = pd.read_csv('PS.txt', sep=' ', index_col=['G', 'N', 'M'])
sd = pd.read_csv('SD.txt', sep=' ', index_col=['G', 'N', 'M'])
sn = pd.read_csv('SN.txt', sep=' ', index_col=['G', 'N', 'M'])
snp = pd.read_csv('SN+.txt', sep=' ', index_col=['G', 'N', 'M'])

In [114]:
data = pd.DataFrame(index=hc.index)
data['HC'] = hc['OF']
data['PS'] = ps['OF']
data['SD'] = sd['OF']
data['SN+'] = snp['OF']
data['SN'] = sn['OF']
data['best'] = data.min(axis=1)

In [115]:
count = data.copy()
count['HC'] = data['HC'] == data['best']
count['PS'] = data['PS'] == data['best']
count['SD'] = data['SD'] == data['best']
count['SN+'] = data['SN+'] == data['best']
count['SN'] = data['SN'] == data['best']

In [158]:
count_result = count.groupby(level=[0,1,2]).sum()[['SN', 'SN+', 'SD', 'PS', 'HC']] / 50 * 100
count_result[count_result.index.get_level_values(0) == 2]

            SN   SN+    SD    PS    HC
G N   M
2 20  12   0.0  10.0  18.0  50.0  46.0
      20   0.0   2.0  26.0  32.0  62.0
      28   0.0   0.0  46.0  24.0  64.0
  40  24   0.0   2.0  40.0  16.0  70.0
      40   0.0   0.0  40.0  18.0  66.0
      56   0.0   0.0  42.0  18.0  62.0
  80  48   0.0   2.0  56.0   0.0  74.0
      80   0.0   4.0  46.0   0.0  74.0
      112  0.0   0.0  64.0   2.0  58.0
  100 60   0.0   0.0  48.0   0.0  70.0
      100  0.0   0.0  48.0   0.0  74.0
      140  0.0   2.0  56.0   0.0  50.0

In [164]:
gap = data.copy()
gap['HC'] = (data['HC'] - data['best'])  / data['best']
gap['PS'] = (data['PS'] - data['best']) / data['best']
gap['SD'] = (data['SD'] - data['best']) / data['best']
gap['SN+'] = (data['SN+'] - data['best']) / data['best']
gap['SN'] = (data['SN'] - data['best']) / data['best']

idx = gap.index.unique()
gap_result = pd.DataFrame(index=idx)


for col in ['SN', 'SN+', 'SD', 'PS', 'HC']:
    df = gap[col].copy()    
    df = df.groupby(df.index, sort=False).agg(['mean', 'std'])
    df[col] = df['mean'].map('{:.3f}'.format) + "±" + (1.96*df['std']/math.sqrt(50)).map('{:.3f}'.format)
    gap_result[col] = df[col].values    
    
gap_result = gap_result.sort_index()
print(gap_result[gap_result.index.get_level_values(0) == 1].to_latex(bold_rows=True))
print(gap_result[gap_result.index.get_level_values(0) == 2].to_latex(bold_rows=True))

\begin{tabular}{llllllll}
\toprule
  &     &     &           SN &          SN+ &           SD &           PS &           HC \\
G & N & M &              &              &              &              &              \\
\midrule
1 & 20  & 12  &  0.037±0.006 &  0.022±0.006 &  0.008±0.003 &  0.007±0.003 &  0.005±0.003 \\
  &     & 20  &  0.052±0.006 &  0.025±0.005 &  0.004±0.002 &  0.009±0.003 &  0.004±0.002 \\
  &     & 28  &  0.051±0.006 &  0.024±0.005 &  0.004±0.002 &  0.008±0.003 &  0.004±0.002 \\
  & 40  & 24  &  0.025±0.003 &  0.017±0.003 &  0.001±0.001 &  0.012±0.003 &  0.000±0.000 \\
  &     & 40  &  0.030±0.003 &  0.017±0.003 &  0.001±0.000 &  0.012±0.002 &  0.000±0.000 \\
  &     & 56  &  0.035±0.002 &  0.018±0.002 &  0.000±0.000 &  0.011±0.002 &  0.000±0.000 \\
  & 80  & 48  &  0.016±0.002 &  0.010±0.002 &  0.000±0.000 &  0.011±0.002 &  0.000±0.000 \\
  &     & 80  &  0.020±0.002 &  0.011±0.002 &  0.000±0.000 &  0.011±0.002 &  0.000±0.000 \\
  &     & 112 &  0.022±0.002 &  0.012±0.001 &  0.000±0.000 &  0.011±0.001 &  0.000±0.000 \\
  & 100 & 60  &  0.016±0.001 &  0.010±0.001 &  0.000±0.000 &  0.013±0.002 &  0.000±0.000 \\
  &     & 100 &  0.018±0.001 &  0.010±0.001 &  0.000±0.000 &  0.011±0.001 &  0.000±0.000 \\
  &     & 140 &  0.019±0.001 &  0.009±0.001 &  0.000±0.000 &  0.010±0.001 &  0.000±0.000 \\
\bottomrule
\end{tabular}

\begin{tabular}{llllllll}
\toprule
  &     &     &           SN &          SN+ &           SD &           PS &           HC \\
G & N & M &              &              &              &              &              \\
\midrule
2 & 20  & 12  &  0.039±0.006 &  0.022±0.005 &  0.008±0.003 &  0.004±0.002 &  0.004±0.002 \\
  &     & 20  &  0.046±0.005 &  0.023±0.004 &  0.005±0.002 &  0.011±0.004 &  0.004±0.002 \\
  &     & 28  &  0.050±0.005 &  0.023±0.004 &  0.002±0.001 &  0.007±0.002 &  0.001±0.001 \\
  & 40  & 24  &  0.026±0.003 &  0.016±0.003 &  0.002±0.001 &  0.010±0.003 &  0.001±0.001 \\
  &     & 40  &  0.028±0.002 &  0.015±0.002 &  0.001±0.001 &  0.009±0.002 &  0.001±0.001 \\
  &     & 56  &  0.032±0.002 &  0.015±0.002 &  0.001±0.000 &  0.009±0.002 &  0.001±0.000 \\
  & 80  & 48  &  0.016±0.002 &  0.009±0.002 &  0.000±0.000 &  0.011±0.002 &  0.000±0.000 \\
  &     & 80  &  0.020±0.001 &  0.010±0.001 &  0.000±0.000 &  0.012±0.002 &  0.000±0.000 \\
  &     & 112 &  0.023±0.001 &  0.012±0.001 &  0.000±0.000 &  0.011±0.001 &  0.000±0.000 \\
  & 100 & 60  &  0.015±0.001 &  0.009±0.001 &  0.000±0.000 &  0.013±0.001 &  0.000±0.000 \\
  &     & 100 &  0.017±0.001 &  0.010±0.001 &  0.000±0.000 &  0.013±0.001 &  0.000±0.000 \\
  &     & 140 &  0.018±0.001 &  0.009±0.001 &  0.000±0.000 &  0.009±0.001 &  0.000±0.000 \\
\bottomrule
\end{tabular}

In [3]:
lg = pd.read_csv('LG_G1.txt').set_index(['N', 'M', 'I']).sort_index()
lp = pd.read_csv('LP_PV_G1.txt').set_index(['N', 'M', 'I']).sort_index()
mip = pd.read_csv('MIP_PV_G1.txt').set_index(['N', 'M', 'I']).sort_index()

lg.to_csv('lg.csv')
lp.to_csv('lp.csv')
mip.to_csv('mip.csv')

In [3]:
final = pd.concat([lg[['LB', 'UB']], lp['LB'], mip[['LB', 'UB']]], axis=1)
final.columns = ['Lag LB', 'Lag UB', 'LP LB', 'MIP LB', 'MIP UB']
final['UB*'] = final[['Lag UB', 'MIP UB']].min(axis=1)



final['Lag gap'] = (final['UB*'] - final['Lag LB'])/final['UB*']
final['LP gap'] = (final['UB*'] - final['LP LB'])/final['UB*']
final['MIP gap'] = (final['UB*'] - final['MIP LB'])/final['UB*']

final = final[['LP gap', 'MIP gap', 'Lag gap']]
final.round(4)
final.round(4).to_csv('results.csv')

In [28]:
count = 0
results = {}
with open('LG_LOG_G1.txt') as file:
    line = file.readline()
    while line:
        n,m,k = line.split(',')
        result = []
        line = file.readline()
        while line != 'end\n':
            i,j,l = line.strip().split(',')
            result.append({'i':int(i), 'j':int(j), 'lambda':float(l)})
            line = file.readline()
                
        results[(int(n),int(m),int(k))] = result
        line = file.readline()

In [63]:
data = pd.DataFrame(results[(20, 12, 0)])
data['i'] = data['i']  + 20
data.groupby('i').sum().sort_values(by='lambda')

      j    lambda
i
31  137  0.000269
25  154  0.000333
28  127  0.260469
27   22  0.399911
24   32  0.414302
29   73  0.499740
30  106  0.500140
20   49  0.539686
23  103  0.599118
21   24  0.604639
22   24  0.869810
26   38  0.969730

In [27]:
results.keys()

dict_keys([(10, 6, 5), (10, 10, 9), (10, 14, 13), (20, 12, 11), (20, 20, 19), (20, 28, 27), (40, 24, 23), (40, 40, 39), (40, 56, 55)])